<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.whitedg.demo.mapper.AddressMapper">
    <insert id="insert" parameterType="io.github.whitedg.demo.entity.Address"
            keyProperty="id" useGeneratedKeys="true" keyColumn="id">
        insert into t_address (user_id, address)
        values (#{userId}, #{address})
    </insert>
</mapper>
