<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.whitedg.demo.mapper.UserMapper">

    <insert id="insert" parameterType="io.github.whitedg.demo.entity.User"
            keyProperty="id" useGeneratedKeys="true" keyColumn="id">
        insert into t_user (name, email, password, id_card_no)
        values (#{name}, #{email}, #{password}, #{idCardNo})
    </insert>

    <update id="updateById">
        update t_user
        set name=#{et.name},
            email=#{et.email},
            password=#{et.password},
            id_card_no=#{et.idCardNo}
        where id = #{et.id}
    </update>

    <select id="selectById" resultType="io.github.whitedg.demo.entity.User">
        select *
        from t_user
        where id = #{id}
    </select>

    <select id="selectAll" resultType="io.github.whitedg.demo.entity.User">
        select *
        from t_user
    </select>

    <select id="selectMap" resultType="io.github.whitedg.demo.entity.User">
        select *
        from t_user
        where id = #{id}
    </select>
</mapper>
